/* CSS for world market map - build by @marcomorawec */

.board-background {
	background-image: url('../img/background/board.jpg');
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.frost-layer{
    padding:0% 3% 3% 3%;
    background-color:rgba(36,32,33,0.8);
}

.market {
	color: white;	
}

.headline {
	text-align:center;
	padding: 2%;
}

.map {
	margin-left: -5%;
	min-width: 100%;
}

.sidebar-box{
	margin-left: -10%;
}
.market-box {
	margin-bottom: 3%;
}

.market-box2 {
	margin-bottom: 3%;
	border-bottom: 2px solid white;
	border-top: 2px solid white;

}

.market-text1 {
	color: white;
	font-size: 31px;
}
.market-text2 {
	color: #00E7C3;
}
.market-text3 {
	color: white;
}
