/*!
 * Surfscore CSS
 * Designed and built with all the love by Peter, Cody, Nishan, Alec and Marco.
 */

.surfscore{
    font-family: Exo, Helvetica, san-serif;
    font-weight: 500;
    font-size: 60px;
}

.location {
    font-family: Exo, Helvetica, san-serif;
    font-weight: 100;
    font-size: 24px;
}

.user-name {
    font-family: Exo, Helvetica, san-serif;
    font-weight: 100;
    font-size: 72px;
}

h1 .custom {
    font-family: Exo, Helvetica, san-serif;
    font-weight: 500;
    font-size: 48px;
}

h2 .custom{
    font-family: Exo, Helvetica, san-serif;
    font-weight: 400;
    font-size: 36px;
}

h3 .custom{
    font-family: Exo, Helvetica, san-serif;
    font-weight: 400;
    font-size: 24px;
}

h4 .custom{
    font-family: Exo, Helvetica, san-serif;
    font-weight: 400;
    font-size: 18px;
}

h5 .custom{
    font-family: Exo, Helvetica, san-serif;
    font-weight: 500;
    font-size: 14px;
}



h1 {
    font-size: 38.5px;
}

h2 {
    font-size: 31.5px;
}

h3 {
    font-size: 24.5px;
}

h4 {
    font-size: 17.5px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 11.9px;
}

/* TABLES */
table.tablesorter {
    background-color: #CDCDCD;
    margin:10px 0pt 15px;
    width: 100%;
    text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
  /*  background-color: #e6EEEE;*/
    border: 1px solid #FFF;
    font-size: 14pt;
    padding: 4px;
}
table.tablesorter thead tr .header {
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}
table.tablesorter tbody td {
    padding: 4px;
    background-color: #FFF;
    vertical-align: top;
}
table.tablesorter tbody tr.odd td {


}

table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
    background-color: #8dbdd8;
}

.tab {
    text-align: center;
    margin: 0px;
}

.active {
    display:inherit;
}

.inactive {
    display: none;
}

.arrow {
  font-size: 24px;
  background: black;
  height: 35px;
  margin-top: 30px;
  padding-top: 5px;
  color: white !important;
  width: 35px !important;
  /*margin-left: 10px !important;*/
}

.session-slider {
  /*margin-left:15% !important;*/
  border-top:thick double white;
  border-bottom:thick double white;
  margin: auto !important;
}

.session-title {
  text-align: center;
}

body{
    background:url("../img/surf-home-background.jpeg") no-repeat;
    background-position:top;
    background-attachment: fixed;
}

.well-clear{
    text-align:center;
    min-height: 20px;
    padding: 35px;
    margin-top: -90px;
    margin-bottom: 20px;
    background:rgba(255,255,255, 0.8);
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.sidebar-img{
    padding: 15px;
    margin: 0px;
    background-color: black;
}

.sidebar-img:hover{
    padding: 15px;
    margin: 0px;
    background-color: #ed1c24;
}

.nav-list > li > a {
padding: 0px 15px;
}
.pull-right-pic{
    float: right;
    margin-bottom: 100px;
    margin-right: 210px;
}

.narrow-well{
    margin-top: 20px;
    min-height: 80px;
    margin-right: 100px;
    margin-left: 100px;
    background:rgba(255,255,255, 0.8);
    border: 1px solid #e3e3e3;

}

.board-transparent {
    background:rgba(255,255,255, 0.8);
}

small {
    vertical-align:super;
}

.lifetime-container {
    text-align: center;
}

.bignum {
    font-size: 50px;
    color: #000029;
}

.red-circle {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background-color:red;
  text-align: center;
  padding: auto;
  font-size: 80px;
  color: white;
  line-height: 140px;
}


.profile-container {
    margin: 30px;
}

/* NAVBAR */

.navbar .brand:hover {
  text-decoration: none;
  color: red;
}


.navbar .nav {
  position: relative;
  left: 0;
  display: block;
  float: left;
  margin: 0 10px 0 0;
}

.navbar .nav.pull-right {
  float: right;
  margin-right: 0;
}

.navbar .nav > li {
  float: left;
}

.navbar .nav > li > a {
  float: none;
  padding: 10px 15px 10px;
  color: #777777;
  text-decoration: none;
  text-shadow: 0 1px 0 #ffffff;
}

.navbar .nav .dropdown-toggle .caret {
  margin-top: 8px;
}

.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  color: red;
  text-decoration: none;
  background-color: transparent;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: #555555;
  text-decoration: none;
  background-color: white;
  border-bottom: 10px solid red;
}


/* NAVBAR INVERSE */
.navbar-inverse .navbar-inner {
  background-color: #ffffff;
  background-color: #1b1b1b;
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff);

#sidebar{
    padding: 15px;
}

.navbar-inverse .brand,
.navbar-inverse .nav > li > a {
  color: black;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
.pull-right-pic{
    float: right;
    margin-bottom: 60px;
    margin-right: 300px;
}

.navbar-inverse .brand:hover,
.navbar-inverse .nav > li > a:hover {
  color: red;
}

.navbar-inverse .nav > li > a:focus,
.navbar-inverse .nav > li > a:hover {
  color: red;
  background-color: transparent;
}

.navbar-inverse .nav .active > a,
.navbar-inverse .nav .active > a:hover,
.navbar-inverse .nav .active > a:focus {
  color: #ffffff;
  background-color: #111111;
}

.navbar-inverse .navbar-link {
  color: #999999;
}

.navbar-inverse .navbar-link:hover {
  color: #ffffff;
}

.navbar-inverse .divider-vertical {
  border-right-color: #222222;
  border-left-color: #111111;
}
