/**
surfscore.me is built with all the love in the World by @MarcoMorawec, Peter, Cody and Alec
**/

.surfscore-brand{
    font-family: Exo, Helvetica, san-serif;
    font-weight: 500;
    font-size: 60px;
	color: #FFFFFF;
}

footer .surfscore-brand{
    font-family: Exo, Helvetica, san-serif;
    font-weight: 500;
    font-size: 60px;
	color: grey;
}

.surfscore-brand:hover{
	text-decoration:none;
	color: #FFFFFF;
}

.location {
    font-family: Exo, Helvetica, san-serif;
    font-weight: 100;
    font-size: 24px;
}

.user-name {
    font-family: Exo, Helvetica, san-serif;
    font-weight: 100;
    font-size: 72px;
}

.custom-h1 {
    font-family: Exo, Helvetica, san-serif;
    font-weight: 500;
    font-size: 48px;
}

.custom-h2 {
    font-family: Exo, Helvetica, san-serif;
    font-weight: 400;
    font-size: 36px;
}

.custom-h3 {
    font-family: Exo, Helvetica, san-serif;
    font-weight: 400;
    font-size: 24px;
}

.custom-h4{
    font-family: Exo, Helvetica, san-serif;
    font-weight: 400;
    font-size: 18px;
}

.custom-h5{
    font-family: Exo, Helvetica, san-serif;
    font-weight: 500;
    font-size: 14px;
}



.navbar .surfscore-brand {
  margin-top: 20px;
  margin-bottom: 68px;
}

.navbar .surfscore-brand {
  display: block;
  float: left;
  padding: 10px 20px 10px;
  margin-left: -20px;
  text-shadow: 0 1px 0 #ffffff;
}

.nav-links {
    font-family: Exo, Helvetica, san-serif;
    font-weight: 500;
    font-size: 18px;
}

.container-signup {
  margin-top: 45px;
  padding-bottom: 20px;
	
}

/*BACKGROUND IMAGE all sections */

.body {
  background-color: black;
  	
}

@media (min-width: 481px) {
	
.background-section {
  height: 100%;
  width: 100%;
  position: absolute;
}
	
	
.signup-section {
  background-image: url('../img/background/signup-section.jpg');
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: top;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.howitworks-section {
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: top;
  background-size: cover;
  border-top: 2px solid #DDDDDD;
  position: relative;
}

.data-section {
  background-image: url('../img/background/metrics.jpg');
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: top;
  background-size: cover;
  padding: 230px 0 70px 0;
  margin-top: 0px;
  margin-bottom: 0px;
  border-top: 2px solid #DDDDDD;
}

/* One Simple Device */
.surfboard-section {
  background-image: url('../img/background/surfboard-section.jpg');
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: top;
  background-size: cover;
  padding: 230px 0 70px 0;
  margin-top: 0px;
  margin-bottom: 0px;
  border-top: 2px solid #DDDDDD;
}

.leaderboard-section {
  background-image: url('../img/background/leaderboard.jpg');
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: top;
  background-size: cover;
  padding: 230px 0 70px 0;
  margin-top: 0px;
  margin-bottom: 0px;
  border-top: 2px solid #DDDDDD;
}

.news-section {
  background-image: url('../img/background/news-section.jpg');
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: top;
  background-size: cover;
  
  
}
/*
.news-section {
	background: url(../img/background/news-section.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
}

background-image: url("/images/1_intro/bg1.jpg?v=0.0.6"); 
background-repeat: no-repeat; 
background-position: center center; 
background-size: 100% auto; 
visibility: hidden; 
position: absolute; 
top: 0px; 
left: 0px; 
opacity: 1;
*/

.team-section {
  background-image: url('../img/background/team.jpg');
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: top;
  background-size: cover;
  padding: 0px 0 70px 0;
  margin-top: 0px;
  margin-bottom: 0px;
}

}
/*Sidebar */

.sidebar_image {
 -webkit-transform: scale(0.6); /* Saf3.1+, Chrome */
     -moz-transform: scale(0.6); /* FF3.5+ */
      -ms-transform: scale(0.6); /* IE9 */
       -o-transform: scale(0.6); /* Opera 10.5+ */
          transform: scale(0.6);
}

.img-border {
  border: 8px solid white;
  padding: 12px;
}

.img-border:hover {
  border: 8px solid black;
}



/* images */

.img-home {
  max-width: 150%	
}

/* Footer */

footer {
	background-color: black;
    border-top: 1px solid #DDDDDD;
    box-shadow: 0 1px 0 #FFFFFF inset;
    clear: both;
    color: #999999;
    padding: 60px 20px 20px;
    width: auto;
}

	
